



/*
#container{
    height: 5300px;
    max-width: 1100px;
        margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
    background-color: white;

}

body{
  background-image: url(stripes.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Dancing Script', cursive !important;
  color: #005F6D !important;
  text-align: center !important;



}

*/

*{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", arial, sans-serif;
  box-sizing: border-box;
}


/*
.header{
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 10;
}

.header .navbar-brand {
font-weight: 900;
}
.header .navbar {
margin: 0;
border: none;
}
*/


html, body{
  background: #ECECEC;
  height: 100%;
}

.section h1, h2{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  opacity: .2;


}

.section p.starts{
  font-family: 'Rouge Script', cursive;
    font-size:25px;
  color: #778899;
  font-weight: 550;
  text-align: center;
}

.headline{
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  left: 12px;
  top: 60px;
}


.section.intro{
  background: url("ajadir.jpg")
  center center no-repeat;
  background-size: cover;
  height: 600px;
padding-bottom: 57%; /* match this to the aspect ratio of your picture */
border: 5px solid black;
border-radius: 3px;

}



.section#lodging{
  background:url("tents.jpeg")
  center center no-repeat;
  background-size: cover;
  height: auto;
padding-bottom: 2%; /* match this to the aspect ratio of your picture */
padding-top: 1%;

}

.section#about{
  background:url("Shen1.jpg")
  center center no-repeat;
  background-size: cover;
  height: auto;
padding-bottom: 50%; /* match this to the aspect ratio of your picture */
}

.section#directions{
  background:url("sand.jpeg")
  center center no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 50px;
padding-bottom: 10%; /* match this to the aspect ratio of your picture */
}

.section#rsvp{
  background:url(grass.jpeg)
  center center no-repeat;
  background-size: cover;
  height: auto;
padding-bottom: 4%; /* match this to the aspect ratio of your picture */
}







#about h2, #directions h2{
  text-align: center;
  color: grey;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 50px;
}

#lodging .paragraph-text{
  padding-bottom: 20px;
  height: auto;
  max-width: 1100px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #f0f0f0;
  opacity: .7;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}




#directions .paragraph-text{
  padding-bottom: 20px;
  height: auto;
  max-width: 1100px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  opacity: .7;
  overflow: hidden;
  text-overflow: ellipsis;
}


.intro h1{
  font-size: 40px;
  margin-top: 40px;
}


#about h4{
  color: white;
}

#directions h4, #lodging h4{
  color: black;
}





/*
#mountains{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px #ffffff;
  max-width: 100%;
  padding-bottom: 50px;
}
*/

/*
ul li{
  padding-left: 150px !important;
margin-left: 50px;
}
*/



#rsvpform{
  display: block;
  text-align: center;
  margin-top: 75px;
  max-width: 100%;
  padding-bottom: 50px;
  margin-left: 100px;
}


.para{
  font-family: 'Pangolin', cursive;
  font-size: 19px;


}

.heading{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: grey;
}

 .paragraph-text{
   padding-top:150px;
   padding-bottom: 50px;
   text-align: center;
 }

 .rentals{
   border-radius: 29px;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
 }

 #images{
   text-align: center;
   padding-top: 50px;
   margin-left: 60px;
   padding-bottom: 65px;
 }

#images a>img{
  margin-right: 50px;


}


.smcx-widget.smcx-embed.smcx-show {
    margin: auto;
}



.column{
  background-color: #222;
  opacity: .9;
  color: #5d5c5b;
  height: auto;
  overflow: hidden;
  letter-spacing: 1px;
  float: left;
  width: 50%;
}



/* Clear floats after the columns */
.row:after{
  content: "";
  display: table;
  clear: both;
}







#about .paragraph-text{
  padding-bottom: 20px;
  height: auto;
  max-width: 1100px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #222;
  opacity: .7;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}

*/

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Navigation menu */
nav {
	height: 4em;
	width: 100%;
	background: #e2f4f4;
	font-size: 11pt;
	position: fixed;
	padding: 0;
		margin-top: 0;
    margin-right: 5px;
  display: inline-block;
}
nav ul {
	padding: 0;
	margin-top: 0;
	/*width: 750px; */
  float: right;
  margin-right: 5px;
}
nav li {
  display: inline-block;
	float:left;
  margin-right: 7px;
  margin-left: 7px;

}

nav a {
	color: #638a9e;
	/*display: inline-block; */
	/*width: 100px;*/
	text-align: right;
	text-decoration: none;
	line-height: 3em;
  font-family: 'Rochester', cursive;
  font-size: 25px;
  margin-right: 7px;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav a:hover, nav a:active {
}
nav a#pull {
	display: none;
}




.jumbotron{
  text-align: center;
  height: 200px;
  white-space: nowrap;
  background-color: #0066c2;
  padding-top: 25px;
}

.lead{
  font-family: 'Rochester', cursive;
font-size: 35px;
color:white;
}

#amazon, .jumbotron p{
  display: inliine;
}



/*
@media screen and (max-width: 600px) {
	nav {
  		height: auto;
  	}

  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 10px;
  	}
}

@media only screen and (max-width : 600px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #fff;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"☰";
    font-size: 25px;
    line-height: 30px;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 5px;
	}
}



@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

*/

 @media only screen and (min-width: 1098px) {





 #lodging .paragraph-text{
   height: 600px;
 }
 .intro h1{
   font-size: 9em;
 }
 .section p.starts{
   /*font-family: 'Amatic SC', cursive;*/
   font-size: 60px;
   text-align: center;

 }
 .section#about{
   height: 0;
}



@media screen and (max-width: 1090px) {
  .column{
    width: 100%;
  }
  }
